<!DOCTYPE html>{%load static%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'css/signup.css' %}">
    <link rel="stylesheet" href="{%static 'css/index.css' %}">
    <title>news home page</title>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark ">
        <a class="navbar-brand" href="/"><img src="{%static 'images/1010.png'%}" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse navbar-default" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.ndtv.com/india">Indian News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.bbc.com/news/world">World News</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Travel News
                </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="https://skift.com/transport/airlines/">Airline</a>
                        <a class="dropdown-item" href="">Railway</a>
                        <a class="dropdown-item" href="#">On Road</a>
                    </div>
                </li>
            </ul>
        </div>

    </nav>
    <div style="margin-top: 20px; margin-bottom: 30px;">
        <form class="jumbotron container" action="/signuppage/" method="post" style="border:1px groove gray" class="container " style="margin-top: 30px;">
            {% csrf_token %}
            <div class="container ">
                <h1>Sign Up</h1>
                <p style="color: rgb(130, 223, 43);">Please fill in this form to create an account.</p>
                <hr>
                <div class="container">
                    <label for="username"><b >username:</b></label>
                    <input type="text" placeholder="Enter username" id="username" name="username" required>

                    <label for="email"><b >Email:</b></label>
                    <input type="text" placeholder="Enter Email" id="email" name="email" required>

                    <label for="password"><b >Password:</b></label>
                    <input type="password" placeholder="Enter Password" id="password" name="password" required>



                    <label>
            <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
        </label>
                </div>
                <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

                <div class="clearfix">
                    <a href="/"> <button type="button" class="cancelbtn"> Cancel</button></a>
                    <button type="submit" class="signupbtn">Sign Up</button>
                </div>
            </div>
        </form>
    </div>
    <div style="background-color:#1b2835;margin:0;padding:0;width:100%;height:19vh; ">
        <div style="margin: 45px 20px; float: left;"><b style="color: white;"><img src="{%static 'images/phone (1).png'%}" alt=""> +917008762479</b></div>
        <div style="margin: 55px  20px; float:right;">
            <a href="https://www.facebook.com/santoshkumar.das.752/"><img src="{%static 'images/facebook (2).png'%}" alt=""></a>&nbsp&nbsp
            <a href="https://www.instagram.com/itz_santu__/?hl=en"><img src="{%static 'images/instagram-sketched.png'%}" alt="">&nbsp&nbsp</a>
            <a href="https://twitter.com/Santosh73734769"><img src="{%static 'images/twitter.png'%}" alt=""></a>
        </div>
    </div>
    </div>





    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>